@import "tailwindcss";
@config "../tailwind.config.js";

@theme {
  --color-background-primary: #e4e1ec;
  --color-background-secondary: #cdbddb;
  --color-primary: var(--color-neutral-800);
  --color-heading-primary: #242433;
  --color-heading-secondary: #423050;
}

@layer base {
  button {
    cursor: pointer;
  }
}
::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

:root {
  --hljs-bg: #ffffff;
  --hljs-color: #24292e;
  --hljs-keyword: #d73a49;
  --hljs-code: #66d9ef;
  --hljs-attribute: #005cc5;
  --hljs-string: #032f62;
  --hljs-title: #6f42c1;
  --hljs-comment: #6a737d;
}

:root {
  &.dark {
    --hljs-bg: #272822;
    --hljs-color: #ddd;
    --hljs-keyword: #f92672;
    --hljs-code: #66d9ef;
    --hljs-attribute: #bf79db;
    --hljs-string: #a6e22e;
    --hljs-title: white;
    --hljs-comment: #75715e;

    --color-primary: var(--color-neutral-200);

    --color-heading-primary: #e4e1ec;
    --color-heading-secondary: #cdbddb;
    --color-background-primary: #242433;
    --color-background-secondary: #423050;

  }
}

html {
  min-width: 360px;
}

.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply underline transition-all decoration-neutral-400 dark:decoration-neutral-600 underline-offset-2 decoration-[0.1em];
}

.prose .anchor:after {
  @apply text-neutral-300 dark:text-neutral-700;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply bg-neutral-50 dark:bg-neutral-900 rounded-lg overflow-x-auto border border-neutral-200 dark:border-neutral-900 py-2 px-3;
}

.prose :not(pre) > code {
  @apply px-1 py-0.5 rounded-sm dark:bg-white/10 bg-black/10;
}


.prose pre code {
  @apply p-0;
  background: initial;
  border: initial;
  line-height: 1.5;
}

.prose code span {
  @apply font-medium;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose p {
  @apply my-4 text-neutral-800 dark:text-neutral-200;
}

.prose h1 {
  @apply text-3xl md:text-4xl font-medium mt-6 mb-2;
}

.prose h2 {
  @apply text-2xl md:text-3xl font-semibold mt-8 mb-2;
}

.prose h3 {
  @apply text-xl md:text-2xl font-bold mt-8 mb-2;
}

.prose h4 {
  @apply text-lg font-medium mt-6 mb-2;
}

.prose strong {
  @apply font-bold;
}

.prose ul {
  @apply list-disc pl-6;
}

.prose ol {
  @apply list-decimal pl-6;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

.prose hr {
  @apply my-6 border-t border-neutral-300 dark:border-neutral-700;
}

.prose pre {
  @apply mt-4;
}

.prose table {
  @apply my-4 dark:bg-white/10 bg-black/10;
}

.prose blockquote {
  @apply border-l-3 border-neutral-700 dark:border-neutral-300 pl-4 py-1;

  p {
    @apply m-0;
  }
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
}

@layer base {
  *,
  ::before,
  ::after {
    @apply dark:border-gray-600 border-gray-300;
  }
}

@keyframes gradient-x {
  0%, 100% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
}


.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 5s ease infinite;
}

